@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielneutzling\/www\/hackathon-war\/client\/src\/sass\/styles\.scss}line{font-family:\000033}}
html, body, #game {
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielneutzling\/www\/hackathon-war\/client\/src\/sass\/styles\.scss}line{font-family:\000038}}
body {
  font: normal 10px/1.5 georgia, serif;
  color: #444;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielneutzling\/www\/hackathon-war\/client\/src\/sass\/styles\.scss}line{font-family:\0000313}}
h1 {
  font-size: 5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielneutzling\/www\/hackathon-war\/client\/src\/sass\/styles\.scss}line{font-family:\0000319}}
#start-screen {
  font-size: 1.4em;
}
