// @import "reset";

html, body, #game {
	width: 100%;
	height: 100%;
}

body {
	color: #444;
}

h1 {
	font-size: 6em;
  font-family: 'Gravitas One', cursive;
  font-weight: bold;
  text-align: center;
}

table tr th:last-child,
table tr td:last-child {
  text-align: center;
}

#start-screen {
	font-size: 1.4em;
}

#user-color {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

#menu {
  height: 27px;
  min-height: 27px;
  padding-top: 3px;
  display: none;
}

#user-profile > * {
  float: left;
}

#army {
  display: none;
  margin-left: 50px;
}




#details {
  width: 250px;
  padding-bottom: 5px;
  position: fixed;
  bottom: 0;
  left: 0;

  .table {
    margin-bottom: 0;
    border-top: 2px solid black;
  }

  .btn {
    display: block;
    margin: 0 auto;
  }
}

